.main-container {
    padding: 5rem;
}

.ui.segment {
    height: 100%;
    min-width: fit-content;
    padding: 1.5rem;
}

.ui.form .field {
    margin-bottom: 1.5rem;
}

.ui.dropdown, .ui.action.input {
    width: 100% !important;
}

.ui.dropdown {
    min-width: 100px !important;
}

.three.fields .field {
    padding: 0 8px !important;
}

.pid-group {
    margin: 1.5rem 0;
}

.bottom-buttons {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.bottom-buttons button {
    width: auto;
}

.bottom-buttons button:first-child {
    justify-self: end;
}

.bottom-buttons button:last-child {
    justify-self: start;
} 