.main-container {
    padding: 2rem;
}

.bottom-buttons {
    margin-top: 2rem;
    text-align: center;
}

.bottom-buttons button {
    margin: 0 0.5rem !important;
}

.pid-group {
    margin-bottom: 1rem;
}

.ui.segment {
    height: 100%;
}

.ui.form .field {
    margin-bottom: 1rem;
}

.ui.action.input {
    width: 100%;
} 