.main-container {
    padding: 5rem;
}

.ui.segment {
    height: 100%;
    min-width: fit-content;
    padding: 1.5rem;
}

.ui.form .field {
    margin-bottom: 1.5rem;
}

.ui.dropdown {
    min-width: 100px !important;
    width: 100% !important;
}

.ui.three.column.grid {
    margin: 0 !important;
    min-width: 300px;
}

.ui.three.column.grid .column {
    padding: 0.5rem !important;
}

.pid-group {
    margin: 1rem 0;
}

.pid-group .ui.dropdown {
    min-width: 80px !important;
}

.bottom-buttons {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.bottom-buttons button {
    width: auto;
}

.bottom-buttons button:first-child {
    justify-self: end;
}

.bottom-buttons button:last-child {
    justify-self: start;
}

.ui.buttons .button {
    margin-right: 0.5rem !important;
    border-radius: 0.28571429rem !important;
}

.ui.buttons .button:last-child {
    margin-right: 0 !important;
}

.ui.positive.button {
    background-color: #2E82CD !important;
    color: white !important;
}

.ui.positive.button:hover {
    background-color: #2575BF !important;
}

.ui.negative.button {
    background-color: #E0E1E2 !important;
    color: rgb(0, 0, 0) !important;
}

.ui.negative.button:hover {
    background-color: #d01919 !important;
    color: rgb(255, 255, 255) !important;
}

@media screen and (max-width: 768px) {
    .ui.three.column.grid {
        display: flex;
        flex-direction: column;
    }

    .ui.three.column.grid .column {
        width: 100% !important;
        padding: 0.25rem !important;
    }

    .pid-group {
        margin: 0.5rem 0;
    }
}

.trajectory-control .field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.trajectory-control label {
    width: 80px;
}

.trajectory-control input[type="number"] {
    width: 120px;
    margin-right: 10px;
}

.trajectory-control .ui.buttons {
    margin-left: auto;
}